:root {
  --screen-max: 1200px;
  --base-font: 'Montserrat', Tahoma, sans-serif;
  --base-font2: "Pridi", "Times New Roman", sans-serif;

  --font-color-light: var(--grey-dark);

  --grey-light: #fefefe;
  --grey-dark: #525252;
  --grey: grey;


}

@font-face {
  font-family: 'Montserrat';
  src: url(../font/Montserrat-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../font/Montserrat-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../font/Montserrat-light.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: 'Pridi';
  src: url(../font/Pridi-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Pridi';
  src: url(../font/Pridi-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Pridi';
  src: url(../font/Pridi-Light.ttf);
  font-weight: lighter;
}

html, body {
  margin: 0;
}

body {
  font-family: var(--base-font);
  font-size: 100%;
  background: orange;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
  background: lightgrey;
}

html * {
  box-sizing: border-box;
}

#logo {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 5em;
  width: 7em;
  height: 7em;


}

#logo a {
  display: flex;
  width: 100%;
  height: 100%;
  background: var(--grey-dark) url(../img/Logo_reduced_Muthwill_white.svg) no-repeat;
  background-size: 80%;
  background-position: center center;
  text-indent: -9999em;
  overflow: hidden;
}

#logo-part-2 {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 12em;
  width: 14em;
  height: 7em;
  background: white;
  background-size: contain;
}

#logo-part-2 a {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
  color: var(--grey-dark);
  justify-content: center;
  padding: 1rem;


}

.main-navigation {
  display: none;
}

header#main-header {
  position: relative;
  width: 100%;
  height: 45vw;
  background: lightgreen;
  overflow: hidden;
}

header#main-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
header#main-header .inner-wrapper,
.content-element .inner-wrapper,

footer .inner-wrapper {
  position: relative;
  max-width: var(--screen-max);
  margin: 0 auto;
}

header .inner-wrapper {
  position: relative;
  max-width: var(--screen-max);
  margin: 0 auto;
}

header h1 {
  position: absolute;
  font-family: var(--base-font2);
  font-size: normal;
  bottom: 0;
  left: 0;
  color: white;
}

footer {
  background: var(--grey-dark);
}

footer a {
  color: var(--grey-light);
  font-family: var(--base-font2);
  text-decoration: none;
  text-transform: uppercase;
}

footer .footer-bottom {
  color: var(--grey);
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--base-font2);
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer .footer-top {

}

footer .footer-left {

}

footer .footer-right {

}

footer .footer-bottom {

}


@media screen and (min-width: 576px) {
  footer .footer-top {
    display: flex;
  }

  footer .footer-left {
    flex: 1;
  }

  footer .footer-right {
    text-align: right;
  }

  footer .footer-bottom {
    font-family: var(--base-font);
    font-size: 100%;
  }

  body {
    background: lightblue;
  }

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}
