section.content-element {
  display: block;
  background: lightgrey;
  position: relative;
}

.content-element .teaser {
  position: relative;

  background:
  -webkit-linear-gradient(rgba(255, 0, 0, 0.5),rgba(255, 0, 0, 0.5)),
  url(bild3.jpg);

  background:
  linear-gradient(rgba(255, 0, 0, 0.5),rgba(255, 0, 0, 0.5)),
  url(../img/bild3.jpg);

background-size: cover;
height: 35vw; }


.content-element-2 .teaser {
  position: relative;

  background:
  -webkit-linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
  url(brillux_bild.jpg);

  background:
  linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
  url(../img/brillux_bild.jpg);

background-size: cover;
height: 35vw;

}

.content-element-form {
  font-family: var(--base-font);
  background: grey;
  position: relative;
  margin: 0 auto;

}

div .inner-wrapper {
    position: relative;
    max-width: var(--screen-max);
    margin: 0 auto;
}

.content-element .teaser p {
  position: relative;
  z-index: 10;
}

.content-element a.Button {
  display: inline-block;
  padding: 1em 2em;
  background: orange;
  color: white;
  text-decoration: none;
}

.content-element a.button:hover {
  opacity: .6;
}

.content-element-2 a.Button {
  display: inline-block;
  padding: 1em 2em;
  background: orange;
  color: white;
  text-decoration: none;
}

.content-element-2 a.button:hover {
  opacity: .6;
}

.content-element img {
  max-width: 100%;
}

form {
  padding-top: 1em;
  padding-bottom: 1em;
}

label {
  display: block;
  float: left;
  width: 30%;
  height: 30px;
  color: white;
}

form input[type="submit"] {
  display: inline-block;
  background: orange;
  width: 60%;
  height: 6em;
  color: white;
  text-decoration: none;
}

form input[type="submit"]:hover {
  opacity: .6;
 }

 button {
   display: inline-block;
   background: orange;
   width: 60%;
   height: 6em;
   color: white;
   text-decoration: none;
 }


input#name {
  display: inline-block;
  width: 60%;
  height: 4em;
  color: white;
  font-family: 'Montserrat', Tahoma, sans-serif;
}

input#firma {
  display: inline-block;
  width: 60%;
  height: 4em;
  color: white;
  font-family: 'Montserrat', Tahoma, sans-serif;
}

input#email {
  display: inline-block;
  width: 60%;
  height: 4em;
  color: white;
  font-family: 'Montserrat', Tahoma, sans-serif;
}

input#betreff {
  display: inline-block;
  width: 60%;
  height: 4em;
  color: white;
  font-family: 'Montserrat', Tahoma, sans-serif;
}

textarea#notes {
  display: inline-block;
  width: 60%;
  height: 15em;
  color: white;
  font-family: 'Montserrat', Tahoma, sans-serif;  }




@media screen and (min-width: 576px) {

.content-element h2.content-header {
  font-family: 'Pridi', sans-serif;
  font-size: 9.5vw;
  line-height: 1.2em;
  font-weight: lighter;
  text-transform: uppercase;
  hyphens:
}
  .content-element .teaser p {
    position: relative;
    padding-right: 45%;
 }

 @media screen and (min-width: 1150px) {

header#main-header h1,
   .content-element > header,
   .content-element .teaser .inner-wrapper
     min-height: none;
     padding-right: 45%;
 }

@media screen and (min-width: 1200px) {

  .content-element .teaser p {
    min-height: none;
    padding-right: 45%;
}
