section.content-element {
  display: block;
  background: lightgrey;
  position: relative;
}

.content-element .teaser {
  position: relative;

  background:
  -webkit-linear-gradient(rgba(255, 0, 0, 0.5),rgba(255, 0, 0, 0.5)),
  url(bild3.jpg);

  background:
  linear-gradient(rgba(255, 0, 0, 0.5),rgba(255, 0, 0, 0.5)),
  url(../img/bild3.jpg);

background-size: cover;
height: 35vw;

}

.content-element .teaser p {
  position: relative;
  z-index: 10;
}

.content-element a.Button {
  display: inline-block;
  padding: 1em 2em;
  background: orange;
  color: white;
  text-decoration: none;
}

.content-element a.button:hover {
  opacity: .6;
}

.content-element img {
  max-width: 100%;
}

.content-element.theme-1 .teaser {

}

@media screen and (min-width: 576px) {

.content-element h2.content-header {
  font-family: 'Pridi', sans-serif;
  font-size: 9.5vw;
  line-height: 1.2em;
  font-weight: lighter;
  text-transform: uppercase;
  hyphens: 
}
  .content-element .teaser p {
    position: relative;
    padding-right: 45%;
 }

 @media screen and (min-width: 1150px) {

header#main-header h1,
   .content-element > header,
   .content-element .teaser .inner-wrapper
     min-height: none;
     padding-right: 45%;
 }

@media screen and (min-width: 1200px) {

  .content-element .teaser p {
    min-height: none;
    padding-right: 45%;
}
