

.item1 {
grid-area: header;
}

.item2 {
grid-area: menu;
}

.item3 {
grid-area: main;
}

.item4 {
grid-area: right;
}

.item5 {
grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas:
  "header header header header header header"
  "menu main main main right right"
  "menu footer footer footer footer footer";
  grid-gap: 10px;
  background-color: orange;
  padding: 10px;

}

.grid-container > div.item1 {
  background-color: rgba(0,0,0,.3);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}


/* Inline grid */

.inline-grid-container {
  background-color: coral;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  padding: 10px


}

.grid-item {
background-color: rgba(0,0,0,.5);
padding: 20px;
font-size: 30px;
border: 1px solid black;
text-align: center;
color: white;

}

.grid-item1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
