body {
  font-size: 20px;
  font-style: Arial;
}
h1 {
  font-size: 60px;
  font-family: "Segoe UI", Times, Arial, Tahoma, Verdana, sans-serif;
}

.highlight {
  font-size: 25px !important;
  font-style: italic;
  font-weight: bold;
}

#MyID_jhskhd_123 {
  border: 6px solid orange;
}

.border {
  border: 6px solid yellow;
}

.multiline {
  background: green;
  color: #33ff88;
  border-bottom: 3px dashed #000;
}

.meinrechteck {
  width: 300px;
  height: 150px;
  background: brown;

  position:fixed;
  top: 10px;
  right: 10px;
}

.meinrechteck::after {
  content: 'hallo';
  display: block;
}

.meinrechteck2 {
  position: absolute;
  width: 100px;
  height: 60px;
  background: purple;

  position:fixed;
  top: 15px;
  right: 20px;
}

.meinrechteck2::after{
  content: 'du';
  display: block;
}

.meinrechteck3 {
  position: absolute;
  width: 25px;
  height: 25px;
  background: green;

  position:fixed;
  top: 50px;
  right: 100px;
}

.meinrechteck3::after{
  content: '?'
}

ul.horizontal {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
}

ul.horizontal li {
  display: inline-block;
  width: 120px;
  background: rgba(255, 0, 0,5);

}
